@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #b7ab8d;
  background-image: url('data:image/png;base64,iVBORw0KG');
  background-attachment: fixed;
  background-size: cover;
} 